
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#cssmenu1 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu1 ul,
#cssmenu1 ul li,
#cssmenu1 ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu1 ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu1 ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu1 ul li.hover,
#cssmenu1 ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu1 ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu1 ul ul li {
  float: none;
}
#cssmenu1 ul ul ul {
  top: -2px;
  right: 298px;
}
#cssmenu1 ul li:hover > ul {
  visibility: visible;
}
#cssmenu1 ul ul {
  top: 1px;
  right: 99%;
}
#cssmenu1 ul li {
  float: none;
}
#cssmenu1 ul ul {
  margin-top: -1px;
}
#cssmenu1 ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu1 {
  width: 100%;
  background: #fff;
  font-family:  Arial;
  zoom: 1;
  font-size: 12px;
}
#cssmenu1:before {
  content: '';
  display: block;
}
#cssmenu1:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu1 a {
  display: block;
  padding: 15px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu1 > ul {
  width: 100%;
}
#cssmenu1 ul ul {
  width: 300px;
}
#cssmenu1 > ul > li > a {
  //border-right: 4px solid #4cbf00;
  color: #000;
}
#cssmenu1 > ul > li > a:hover {
  color: #fff;
}
#cssmenu1 > ul > li.active a {
  background: #4cbf00;
}
#cssmenu1 > ul > li a:hover,
#cssmenu1 > ul > li:hover a {
  background: #4cbf00;
}
#cssmenu1 li {
  position: relative;
}
#cssmenu1 ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu1 ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu1 ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu1 ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu1 ul ul {
  border: 1px solid #fff;
}
#cssmenu1 ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#cssmenu1 ul ul a:hover {
  color: #ffffff;
}
#cssmenu1 ul ul li {
  border-bottom: 1px solid #fff;
}
#cssmenu1 ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#cssmenu1.align-right > ul > li > a {
  border-left: 4px solid #4cbf00;
  border-right: none;
}
#cssmenu1.align-right {
  float: right;
}
#cssmenu1.align-right li {
  text-align: right;
}
#cssmenu1.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu1.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu1.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu1.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu1.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu1.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
